$main-gray: #4f5665;
$lightest-gray: #f1f1f1;
$light-gray: #f6f6f6;
$medium-gray: #dde0e4;
$main-dark: #0b132a;
$main-white: #ffffff;
$button-color: #f53838;
$active: #f53855;
$check: #2fab73;
$main-yellow: #fea250;
$color-copy: #afb5c0;
